:root {
    --font-default: 'Kumbh Sans', sans-serif;

    --fs-200: 0.55rem;
    --fs-300: 0.75rem;
    --fs-400: 1rem;

    --fw-normal: 400;
    --fw-bold: 700;

    --clr-primary-300: hsl(185, 75%, 39%);
    --clr-primary-400: hsl(227, 10%, 46%);
    --clr-primary-500: hsl(229, 23%, 23%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-hsl-400: 0, 0%, 59%;
    --clr-neutral-400: hsl(0, 0%, 59%);
}

/* RESETS */

* {
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

img,
svg {
    display: block;
    max-width: 100%;
}

/* UTILITY CLASSES */

/* PAGE STYLING */

html {
    font-size: 18px;
}

body {
    color: var(--clr-primary-400);
    background-color: var(--clr-primary-300);
    background-image: url(images/bg-pattern-top.svg),
        url(images/bg-pattern-bottom.svg);
    background-position: left -290px top -500px, right -240px bottom -630px;
    background-repeat: no-repeat;
    display: grid;
    font-family: var(--font-default);
    font-size: var(--fs-400);
    font-weight: var(--fw-normal);
    min-height: 100vh;
    place-content: center;
}

@media screen and (max-width: 599px) {
    body {
        background-position: right 150px bottom 400px, left 170px top 350px;
        background-size: cover;
    }
}

.card {
    margin-inline: 1rem;
    max-width: 350px;
}

@media screen and (max-width: 599px) {
    .card {
        max-width: 327px;
    }
}
