:root {
    --font-default: 'Kumbh Sans', sans-serif;

    --fs-200: 0.55rem;
    --fs-300: 0.75rem;
    --fs-400: 1rem;

    --fw-normal: 400;
    --fw-bold: 700;

    --clr-primary-300: hsl(185, 75%, 39%);
    --clr-primary-400: hsl(227, 10%, 46%);
    --clr-primary-500: hsl(229, 23%, 23%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-hsl-400: 0, 0%, 59%;
    --clr-neutral-400: hsl(0, 0%, 59%);
}

/* RESETS */

* {
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

img,
svg {
    display: block;
    max-width: 100%;
}

/* UTILITY CLASSES */

.flex-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.4rem;
}

/* PAGE STYLING */

html {
    font-size: 18px;
}

body {
    color: var(--clr-primary-400);
    background-color: var(--clr-primary-300);
    background-image: url(images/bg-pattern-top.svg),
        url(images/bg-pattern-bottom.svg);
    background-position: left -290px top -500px, right -240px bottom -630px;
    background-repeat: no-repeat;
    display: grid;
    font-family: var(--font-default);
    font-size: var(--fs-400);
    font-weight: var(--fw-normal);
    min-height: 100vh;
    place-content: center;
}

@media screen and (max-width: 599px) {
    body {
        background-position: right 150px bottom 400px, left 170px top 350px;
        background-size: cover;
    }
}

.card {
    --border-radius: 1rem;
    margin-inline: 1rem;
    max-width: 350px;
}

@media screen and (max-width: 599px) {
    .card {
        max-width: 327px;
    }
}

.card__header {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    overflow: hidden;
}

.card__content {
    background-color: var(--clr-neutral-100);
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    text-align: center;
}

.card__heading {
    display: grid;
    justify-items: center;
    position: relative;
}

.card__user {
    display: grid;
    gap: 0.5rem;
    letter-spacing: 0.5px;
    padding: 4rem 3rem 1.5rem;
}

.card__user-avatar {
    border-radius: 50%;
    outline: 6px solid var(--clr-neutral-100);
    position: absolute;
    top: -48px;
}

.card__accent {
    color: var(--clr-primary-500);
    font-size: var(--fs-400);
    font-weight: var(--fw-bold);
}

.card__user-location {
    font-size: var(--fs-300);
}

.card__stats {
    box-shadow: 0 -1px 0 hsla(var(--clr-neutral-hsl-400), 0.15);
    font-size: var(--fs-200);
    justify-content: space-between;
    padding: 1.3rem 3rem 1rem;
}

.card__stat {
    margin-block: 0.5em;
    letter-spacing: 1.7px;
}
